*{
	box-sizing: border-box;
}

/* this is for navbar (every file should have this) */
body {
	margin: 0;
	background-color: F0F8FF;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: #006699;
}

.name {
	display: flex;
	align-items: center;
	margin: 10px;
	color: FFE4E1;
	font-size: 1.25em;
	padding: 0px;
	height: 40px;
}

.navlinks{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

ul{
	list-style-type: none;
	justify-content: flex-end;
	padding: 0px;
}

.navlinks li {
		display: flex;
		display: inline;
		align-items: center;
		padding: 0px 20px 0px 0px;
}

.navlinks a {
	text-decoration: none;
	border-bottom: 1px solid #FFE4E1;
	color: FFE4E1;
}

.navlinks a:hover {
	border-bottom: 3px solid #FFE4E1;
}



/*actual pages content */


h1 {
	text-align: center;
	margin: 0px;
	padding: 20px;
}

h2 {
	text-decoration: underline;
	text-align:center;
}

.content img {
	display:flex;
	width: 300px;
	height: 200px;
}

.example {
	display: flex;
	justify-content: center;
	margin: 0px;
	flex-wrap: wrap;
}

.written_content {
	display:flex;
}


p {
	margin: 0px 50px 20px 10px;
	width: 200px;
}

.example  ul {
	margin: 0px 50px 20px 0px;
}

.content {
	color: #006699;
}
/*experiments */

h3 {
	text-decoration: underline;
	text-align:center;
}

.certificates {
	display:inline-grid;
	grid-template-columns: 1fr 1fr;
	justify-items:center;
	width:100%;
	
}

.scrum_text {
	height:200px;
	width: 300px;
	background: url(content_example.png);
	background-size:100%;
	color: transparent;
}

.scrum_text p{
	justify-content: center;
	align-items: center;
	margin: auto;
	
}
.certificate_1:hover .scrum_text {
	background: #006699;
	transition: .5s ease;
	color: white;
}




/* media queries */

@media screen and (max-width: 600px) {
	
	nav {
		display: flex;
		flex-direction: column;
	}
	
	.name {
		justify-content: center;
		margin: 0;
	}
	
	.navlinks{
		justify-content: center;
		align-items: flex-start;
	}

	 p {
		margin: 20px 20px 20px 0px;
	}

}

@media screen and (max-width: 700px) {

 p {
	margin: 20px 20px 20px 0px;
}

	
}

@media screen and (max-width:400px) {
	.example a {
		display: flex;
		flex-wrap: wrap;
	}
	
	.certificates {
		display:grid;
		grid-template-columns: 1fr;
		margin:auto;

	}
	
	.example ul {
		margin:0px;
	}
	
	.example p {
		margin:0px;
		padding: 0px 0px 0px 10px;
	}
	
	.example {
		padding: 0px 0px 0px 20px;
		justify-content:flex-start;
	}
	
	.written_content {
		display: flex;
		justify-content: row;
	}
}


