*{
	box-sizing: border-box;
}
body {
	margin:0;
	background-color:F0F8FF;
}

nav {
	display:flex;
	justify-content:space-between;
	background-color:87CEFA;
}

.name {
	display:flex;
	align-items:center;
	margin:10px;
	color:FFE4E1;
	font-size:1.25em;
	padding:0px;
	height:40px;
	
}

.navlinks{
	display:flex;
	align-items:center;
	justify-content:flex-end;
	
}

ul{
	list-style-type:none;
	justify-content:flex-end;
	padding:0px;
}

.navlinks li {
		display:flex;
		display:inline;
		align-items:center;
		padding:0px 20px 0px 0px;
}

.navlinks a {
	text-decoration:none;
	border-bottom:1px solid #FFE4E1;
	color:FFE4E1;
}

.navlinks a:hover {
	border-bottom: 3px solid #FFE4E1;
}


h1 {
	text-align:center;
	margin:0px;
	padding:20px;
}

.content img {
	width:300px;
	height:200px;
}

.example {
	display:flex;
	justify-content:center;
	margin:0px;

}




 p {
	display:flex;
	text-align:center;
	margin:20px 50px 20px 50px;
	width:200px;
	align-content:center;
	
}

.content {
	color:B0C4DE;
}

.example div {

}


@media screen and (max-width: 600px) {
nav {
	display:flex;
	flex-direction:column;
}
.name {
	justify-content:center;
	margin:0;
}
.navlinks{
	justify-content:center;
	align-items:flex-start;
}
p {
	margin:0;
}
}


